<head>
    <!--<title>Smart Mirror</title>-->
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>

<h2 class="page-header">My Smart Mirror</h2>
<form method="post" action="/users/login">
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" name="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

<a href="/users/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span>Login with Facebook</a>
<a href="/users/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span>Login with Google</a>
